{% extends 'blog/basic.html' %}

{% block body %}
<div class="container">


<div class="row my-2">
    {% for post in myPosts %}

        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"> {{post.title}} </strong>
                    <h3 class="mb-0">  {{post.head0}} </h3>
                    
                    <p class="card-text mb-auto">{{post.content_head0|slice:"0:50"}}....</p>
                    <div class="mb-1 text-muted">{{post.pub_date}}</div>
                    <a href="blogpost/{{post.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250"
                        aria-label="Placeholder: Thumbnail"/>

                </div>
            </div>
        </div>
{% if forloop.counter|divisibleby:2 %}
    </div><div class="row my-2">
    {% endif %}

    {% endfor %}

</div>

{% endblock %}