{% extends 'shop/basic.html' %}
{% block title %} Search Product {% endblock %}

{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 170px;
height: 170px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: -40px;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top:auto;
bottom:auto;
padding-top: 175;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}

.carousel-indicators li{
background-color: black
}

{% endblock %}

{% block cart %}
<button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="My Pop Cart.">
    Cart(<span id="cart">0</span>)
</button>
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <!--Slideshow starts here -->
    {% for product,num_slides,range in all_products %}
    <h5>{{product.0.category}}</h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in product%}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src='/media/{{i.image}}' class="card-img-top" alt="product photo">
                            <div class="card-body">
                                <h5 class="card-title" id="nameproduct{{i.id}}"> {{i.product_name}}</h5>
                                <p class="card-text">{{i.description|slice:"0:23"}}....</p>
                                <h6 class="card-title" > Price:<span id="priceproduct{{i.id}}">{{i.price}} </span> Tk</h6>

                                <span id="divproduct{{i.id}}" class="divproduct">
                                    <button id="product{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                                </span>
                                <a href="/shop/products/{{i.id}}">
                                    <button id="quickView{{i.id}}" class="btn btn-primary">Quick View</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>


{% if message|length != 0 %}
alert('{{message}}');
window.location.href = "/"
{% endif %}


//------- find out the cart items from local storage-------
if (localStorage.getItem("cart") == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem("cart"));
    updateCart(cart);
}
//------ if the 'add to cart' button is clicked, add/increment the item-------
//$(".cart").click(function(){
$('.divproduct').on('click', 'button.cart', function() {
    var id_store = this.id.toString();

    if (cart[id_store] != undefined) {
        quantity=cart[id_store][0]+1;
        productName=cart[id_store][1];
        price=cart[id_store][2];
        // added value in a dictionary
        cart[id_store] = [quantity,productName,parseInt(price)];
        document.getElementById('div' + id_store).innerHTML = "<button id='minus" + id_store + "' class='btn btn-primary minus'>-</button> <span id='val" + id_store + "''>" + cart[id_store][0] + "</span> <button id='plus" + id_store + "' class='btn btn-primary plus'> + </button>";

    } else {
        quantity=1;
        // id_store=product1(2,3...etc)
        productName=document.getElementById('name'+id_store).innerHTML;
        price=document.getElementById('price'+id_store).innerHTML;
        cart[id_store] = [quantity,productName, parseInt(price)];

    document.getElementById('div' + id_store).innerHTML = "<button id='minus" + id_store + "' class='btn btn-primary minus'>-</button> <span id='val" + id_store + "''>" + cart[id_store][0] + "</span> <button id='plus" + id_store + "' class='btn btn-primary plus'> + </button>";
     
}
    updateCart(cart);

});

//--------------Add popover to cart------------------
$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
    var popStr = "";
    var popStr = "Product Details<br>-----------------------------------<br>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + ".</b> ";
        popStr = popStr + cart[item][1] + " || quantity:" + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "<a href='/shop/checkout'> <button class='btn btn-primary mx-2' id='checkout'><font>Check Out</font></button></a><button class='btn btn-primary' id='clearcart' onclick='clearCart()'>Clear Cart</button>";

    document.getElementById("popcart").setAttribute('data-content', popStr);
    $('#popcart').popover('show');

}

//------------------ Clear Cart --------------------------

function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    
    localStorage.clear();
    cart = {};
    updateCart(cart);
}

//----------------- Update cart -----------------------------
function updateCart(cart) {
    total_product = 0;
    console.log(cart);
    for (var item in cart){
        // item=product1(1,2,3---);
        console.log(item);
        total_product = total_product + cart[item][0];
       
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = total_product;
    console.log(cart);
    updatePopover(cart);
}
// ---------------- If minus button is clicked, change the cart as well as the display value-------------
$('.divproduct').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    // a=oduct1(1,2,3---);
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];

    if (cart['pr' + a][0]==0){
     document.getElementById('divpr' + a).innerHTML = '<button id="pr' + a + '" class="btn btn-primary cart">Add To Cart</button>';
     delete cart['pr' + a];


    }
    else
    {
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];

    }

    updateCart(cart);

    //console.log(cart);

});
// -------If plus button is clicked, change the cart as well as the display value-------
$('.divproduct').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});



</script>
{% endblock %}